.horizontal-line {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #b09661;
}
img {
  width: 100%;
  height: 370px;
  object-fit: cover;
}
.horizontal-line::before,
.horizontal-line::after {
  content: "";
  border-top: 2px solid;
  margin: 0 20px 0 20px;
  flex: 1 0 20px;
  color: #b09661;
}
.subtitle {
  color: #b09661;
  letter-spacing: 5px;
}
.btn-warning {
  color: #000 !important;
  background-color: #b09661 !important;
  border-color: #b09661 !important;
}

.btn-warning:hover {
  background-color: #ffebc6 !important;
}
